/* cell background colors to help guide layout */
.col-1-2,
.col-1-4 {
	background-color: #ffc;
}
.col-2, 
.col-2-4 {
	background-color: #fcf;
}
.col-3 {
	background-color: #cff;
}
.col-4 {
	background-color: #ccf;
}

/* grid system -- mobile first! */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns:4;
}
[class*="col-"] {
    --width:4;
    --initialbasis: calc(var(--width, 1)/ var(--columns, 4)* 100%);
    flex-basis: var(--initalbasis);
}
@media (min-width: 480px) {
	.col-1-2,
	.col-2  {
		--width:2;
	}
	
}
@media (min-width: 768px) {
	.col-1-2,
	.col-1-4 {
		--width:1;
	}
	.col-2-4 {
		--width:2;
	}
	.col-3 {
		--width:3;		
	}
  .order-a {
    order: 2;
  }
  .order-b {
    order: 1;
  }
  .order-c {
    order: 3;
  }
}




/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
  margin: 0;
	padding: 0;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

img {
	width: 100%;
	max-width: 225px; 
}
