/* cell background colors to help guide layout */
.col-1-2,
.col-1-4 {
	background-color: #ffc;
}
.col-2, 
.col-2-4 {
	background-color: #fcf;
}
.col-3 {
	background-color: #cff;
}
.col-4 {
	background-color: #ccf;
}
.col-4 li{
    background-color: #fac;
}

/* grid system -- mobile first! */
.row,
.col-4 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns: 4;
}
[class*="col-"],
.col-4 li {
	--width: 4;
	--initialbasis: calc(var(--width, 0) / var(--columns, 4) * 100%);
    --gap-constant: 1%;
  --gap: calc(calc(var(--columns, 4) - var(--width, 0)) * var(--gap-constant));
	flex-basis: calc(var(--initialbasis) - var(--gap));
}
/* image gallery styles */
.col-4 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  --colums:6;
}
.col-4 li{
    --width:6;
    --gap-constant:0.3%;
    text-align: center;
}

@media (min-width: 480px) {
	.col-1-2,
	.col-2  {
		--width: 2;
	}
	.col-1-4,
	.col-2-4,
	.col-3,
	.col-4 {
		--width: 4;
	}
    .col-4 li {
        --width:3;
    }
}
@media (min-width: 768px) {
	.col-1-2,
	.col-1-4 {
		--width: 1;
	}
	.col-2-4 {
		--width: 2;
	}
	.col-3 {
		--width: 3;		
	}
    .col-4 li {
        --width:2;
    }
  .order-a {
    order: 2;
  }
  .order-b {
    order: 1;
  }
  .order-c {
    order: 3;
  }
}




/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
  margin: 0;
	padding: 0;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

img {
	width: 100%;
	max-width: 225px; 
}
.col-4 ul li {
  width: 100%;
  max-width: 640px; 
}